div{
    background-color: aquamarine;
}
.dados{
    text-align: center;
    font-size:150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
}
h1{
    color: blue;
}